@font-face {
  font-family: 'old_stamper';
  src: url('old_stamper.ttf');
}

body {
  background-color: #eee;
  font-family: sans-serif;
  color: #333;
  background-image: url('my-bg-4-blur.jpg');
  background-size: cover;
}

.well {
  width: 40em;
  height: 20em;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin: auto;
  border: 2px solid #333;
  border-radius: .25em;
  padding: 1em;
  background-color: lightBlue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.well h1 {
  font-family: 'old_stamper';
}
